<!DOCTYPE html>
<html>
  <head>
    <title>TECH-BLOG</title>
  </head>
  <body>
    <h1>welcome</h1>

    {{#each posts}}
      <h2>{{title}}</h2>
      <p>{{date}}</p>
    {{/each}}
  </body>
</html>